body {
	display: flex;
	background-color: $neutral-1;
	font-family: $ff-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1em;
	font-weight: $fw-400;
	color: $primary-1;
	line-height: 20/16 +0em;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

[class^='icon-'] {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.icon-ethereum {
	width: 11/16 +0em;
	height: 18/16 +0em;
	background-image: url('~@/assets/img/icons/ethereum.svg');
}

.icon-clock {
	width: 16/16 +0em;
	height: 16/16 +0em;
	background-image: url('~@/assets/img/icons/clock.svg');
}
